<mat-toolbar>
  <mat-toolbar-row>
    <a routerLink="/">
      <span *ngIf="account !== null">Krato: {{ account.firstName }}</span>
      <span *ngIf="account === null">Krato</span>
    </a>
    <ng-container *ngIf="account === null">
      <button mat-button (click)="login()">login</button>
      <button mat-button routerLink="/account/register" routerLinkActive="active" (click)="collapseNavbar()"
        data-cy="register">
        <span>Register</span>
      </button>
    </ng-container>
    <ng-container *ngIf="account !== null">
      <ul aria-labelledby="account-menu">
        <li>
          <a routerLink="/account/settings" routerLinkActive="active" (click)="collapseNavbar()" data-cy="settings">
            <span>Settings</span>
          </a>
        </li>
        <li>
          <a routerLink="/account/password" routerLinkActive="active" (click)="collapseNavbar()" data-cy="passwordItem">
            <span>Password</span>
          </a>
        </li>
      </ul>
      <button mat-button (click)="logout()">logout</button>
    </ng-container>
  </mat-toolbar-row>

  <!-- <mat-toolbar-row *jhiHasAnyAuthority="'ROLE_ADMIN'"> -->
  <!--   <ul aria-labelledby="entity-menu"> -->
  <!--     <li> -->
  <!--       <a routerLink="/workout" routerLinkActive="active" (click)="collapseNavbar()"> -->
  <!--         <span>Workout</span> -->
  <!--       </a> -->
  <!--     </li> -->
  <!--     <li> -->
  <!--       <a routerLink="/exercise" routerLinkActive="active" (click)="collapseNavbar()"> -->
  <!--         <span>Exercise</span> -->
  <!--       </a> -->
  <!--     </li> -->
  <!--     <li> -->
  <!--       <a routerLink="/app-user" routerLinkActive="active" (click)="collapseNavbar()"> -->
  <!--         <span>App User</span> -->
  <!--       </a> -->
  <!--     </li> -->
  <!--   </ul> -->
  <!---->
  <!--   <ul aria-labelledby="admin-menu"> -->
  <!--     <li> -->
  <!--       <a routerLink="/admin/user-management" routerLinkActive="active" (click)="collapseNavbar()"> -->
  <!--         <span>User management</span> -->
  <!--       </a> -->
  <!--     </li> -->
  <!--     <li> -->
  <!--       <a routerLink="/admin/metrics" routerLinkActive="active" (click)="collapseNavbar()"> -->
  <!--         <span>Metrics</span> -->
  <!--       </a> -->
  <!--     </li> -->
  <!--     <li> -->
  <!--       <a routerLink="/admin/health" routerLinkActive="active" (click)="collapseNavbar()"> -->
  <!--         <span>Health</span> -->
  <!--       </a> -->
  <!--     </li> -->
  <!--     <li> -->
  <!--       <a routerLink="/admin/configuration" routerLinkActive="active" (click)="collapseNavbar()"> -->
  <!--         <span>Configuration</span> -->
  <!--       </a> -->
  <!--     </li> -->
  <!--     <li> -->
  <!--       <a routerLink="/admin/logs" routerLinkActive="active" (click)="collapseNavbar()"> -->
  <!--         <span>Logs</span> -->
  <!--       </a> -->
  <!--     </li> -->
  <!--     <li *ngIf="openAPIEnabled"> -->
  <!--       <a routerLink="/admin/docs" routerLinkActive="active" (click)="collapseNavbar()"> -->
  <!--         <span>API</span> -->
  <!--       </a> -->
  <!--     </li> -->
  <!--     <li *ngIf="!inProduction"> -->
  <!--       <a href="./h2-console/" target="_tab" (click)="collapseNavbar()"> -->
  <!--         <span>Database</span> -->
  <!--       </a> -->
  <!--     </li> -->
  <!--   </ul> -->
  <!-- </mat-toolbar-row> -->
</mat-toolbar>
