.start-button {
  height: 300px;
  width: 300px;
  background-color: darkgray;
  color: yellow;
  font-size: 42px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer-ring {
  height: 310px;
  width: 310px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lime;
}

